$postify-font-size:       14px !default;
$postify-line-height:     1.8 !default;

$postify-color-hr:             #999 !default;
$postify-color-link-hover:     #333 !default;
$postify-color-link:           #81a2c2 !default;
$postify-color-header-counter: #888 !default;

.postify {
  margin-left: auto;
  margin-right: auto;
  font-size: $postify-font-size;
  line-height: $postify-line-height;
  
  iframe {
    width: 100%;
    height: 408px;
  }
  
  p > img {
    display: block;
    margin: 0 auto;
  }

  /* ========================================================================= *\
   * 链接
  \* ========================================================================= */

  a {
    color: $postify-color-link;
    text-decoration: none;
  }

  a:hover,
  ins:hover {
    color: $postify-color-link-hover;
    text-decoration: underline;
    text-underline-position: under;
  }

  li, h1, h2, h3, h4, h5, h6 {
    // 下划线用边框模拟
    a {
      border-bottom: 1px solid transparent;
      _border-bottom: 1px none;
    }

    a:hover {
      text-decoration: none;
      border-bottom: 1px solid;
    }
  }

  // 防止 a>img hover 时下划线位置错位
  // 如果 img 不需要下划线可以直接：
  // a img {
  //   float: left;
  // }

  // 或者：
  // a img {
  //   display: block;
  // }

  a img {
    vertical-align: baseline;
  }

  acronym,
  abbr {
    border-bottom: 1px dotted;
  }

  // 保留 i 标签斜体
  i {
    font-style: italic;
  }

  // 重置中文斜体
  // cite 标签通常用在书籍或杂志的标题
  cite, em, var, address, dfn {
    font-style: normal;
  }

  cite {
    border-bottom: 3px double;
  }

  // 专名号和em
  // 1. 保持留白，防止两个连续标签下划线连在一起
  u, em {
    margin-right: .25em; /* 1 */
    text-decoration: none;
  }

  u + u,
  u + em,
  em + em,
  em + u
  // a + a
  {
    margin-left: .25em; /* 1 */
  }

  u {
    border-bottom: 1px solid;
  }

  em {
    border-bottom: 1px dotted;
  }

  // figure 内图片居中
  figure {
    text-align: center;
  }
}