$postify-font-size:       18px !default;
$postify-line-height:     2 !default;

$postify-color-hr:             #999 !default;
$postify-color-link-hover:     #333 !default;
$postify-color-link:           #81a2c2 !default;
$postify-color-header-counter: #888 !default;

.postify {
  margin-left: auto;
  margin-right: auto;
  font-size: $postify-font-size;
  line-height: $postify-line-height;
  
  iframe {
    width: 100%;
    height: 408px;
  }
  
  p > img {
    display: block;
    margin: 0 auto;
  }

  /* ========================================================================= *\
   * link
  \* ========================================================================= */

  a {
    color: $postify-color-link;
    text-decoration: none;
  }

  a:hover,
  ins:hover {
    color: $postify-color-link-hover;
    text-decoration: underline;
    text-underline-position: under;
  }

  li, h1, h2, h3, h4, h5, h6 {
    // underline
    a {
      border-bottom: 1px solid transparent;
      _border-bottom: 1px none;
    }

    a:hover {
      text-decoration: none;
      border-bottom: 1px solid;
    }
  }


  a img {
    vertical-align: baseline;
  }

  acronym,
  abbr {
    border-bottom: 1px dotted;
  }

  i {
    font-style: italic;
  }


  cite {
    border-bottom: 3px double;
  }

  u, em {
    margin-right: .25em; /* 1 */
    text-decoration: none;
  }

  u + u,
  u + em,
  em + em,
  em + u
  // a + a
  {
    margin-left: .25em; /* 1 */
  }

  u {
    border-bottom: 1px solid;
  }

  em {
    border-bottom: 1px dotted;
  }

  figure {
    text-align: center;
  }

  p {
    margin-top: 1.29em;
    margin-bottom: 1.29em;
  }

  h1 {
    font-size: 2.14em;
  }

  h2 {
    font-size: 1.86em;
  }

  h3 {
    font-size: 1.43em;
  }

  h4 {
    font-size: 1.29em;
  }

  h5 {
    font-size: 1.14em;
  }

  h6 {
    font-size: 1em;
  }

  h1, h2, h3, h4, h5, h6 {
    margin-top: 1.29rem;
    margin-bottom: 1.29rem;
  }

  ul,
  ol {
    margin-bottom: 1em;
  }

  ul {
    list-style-type: square; // /* 1 */
    padding-left: 2.14em;
    margin-top: 1em;
  }

  ul ul,
  ul ol ul {
    list-style-type: disc;
  }

  ol {
    list-style: decimal;
    padding-left: 2.14em;
  }

  ol ol ul,
  ol ul ul,
  ul ul ul {
    list-style-type: circle;
  }

  ol ol ol ul,
  ol ol ul ul,
  ol ul ul ul,
  ul ul ul ul {
    list-style-type: square;
  }

  dt {
    font-weight: bold;
    margin-top: 1em;
  }

  hr {
    border: 0 none;
    border-bottom: 1px solid $postify-color-hr;
    margin-top: 32px;
    margin-bottom: 32px;
  }

  h2, h3, h4 {
    &:before {
      margin-right: .5em;
      color: $postify-color-header-counter;
    }
  }

  counter-reset: chapter section subsection;

  h2 {
    counter-reset: section;

    &:before {
      content: counter(chapter);
      counter-increment: chapter;
    }
  }

  h3 {
    counter-reset: subsection;

    &:before {
      content: counter(chapter) '.' counter(section);
      counter-increment: section;
    }
  }

  h4:before {
    content: counter(chapter) '.' counter(section) '.' counter(subsection);
    counter-increment: subsection;
  }
  

  %underline-fix {
    a:hover,
    ins:hover {
      border: 0 none;
      text-decoration: underline;
    }
  }

}



